# AWS SES
AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=your_access_key_id_here
AWS_SECRET_ACCESS_KEY=your_secret_access_key_here

# Email
SES_FROM_EMAIL=noreply@redmirchi.org
SES_FROM_NAME=Red Mirchi Associates
ADMIN_EMAIL=info@redmirchi.org
ADMIN_CC_EMAIL=

# App
NEXT_PUBLIC_SITE_URL=https://www.redmirchi.org
NEXT_PUBLIC_COMPANY_PHONE=+91-7206317456
NEXT_PUBLIC_COMPANY_EMAIL=info@redmirchi.org
